@using GWFormsBuilder.Models
@using Newtonsoft.Json;
@model GWControlModel
@{
    /**/

    ViewBag.Title = "GW Forms Builder";
    ViewData.Model = Model;
}

@Html.HiddenFor(m => m.InputType, new { @id = "hdninputtype" })


<div>
</div>
<div>
    <table style="margin-bottom: 10px; margin-left:70px;">
        <tr style="margin-left: 20px;">
            <td>
                <h3>Module</h3>
                <div>
                    @Html.DropDownListFor(m => m.Modules, Model.Modules, " ", new { @id = "ddlModuleName" })
                </div>

            </td>
            <td>
                <h3>File Name</h3>
                <div id="divFile">
                    @Html.DropDownListFor(x => x.Files, new List<SelectListItem>(), " ", new { @id="ddlFileName"})
                </div>
            </td>
            <td>
                <div>
                    <input type="button" value="List Controls" style="width: 120px; height: 30px; margin-top: 40px;" id="btnGenerateXML" />
                </div>
            </td>
        </tr>
    </table>

    @Html.Partial("~/Views/Shared/_GWGrid.cshtml", Model)

</div>


<div style="margin-left: 15%;">
    <h3>Generated Code:</h3>
    <div style="width:80%; height:500px;overflow:auto"><pre id="xmldata"></pre></div>
        @*@Html.TextArea("GeneatedFile", "", new { @style = "height:300px; overflow-y:scroll;", @class="GenerateCodeTextAreaStyle", rows=10, spellcheck = "false" })*@
    </div>
    <div>
        <input type="button" value="Download File" style="width: 120px; height: 30px; margin-top: 40px; margin-left: 45%;" id="btnDownLoadFile" />
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/grid.js"></script>
@*<script type="text/javascript" src="~/Scripts/input.js"></script>*@
<script type="text/javascript" src="~/Scripts/Index.js"></script>

<style>
    .GenerateCodeTextAreaStyle {
        width: 1000px !important;
        max-width: 1000px !important;
    }
</style>
